# **Estrutura de dados em Python:**

# **1. Listas**

In [ ]:
frutas = ['banana', 'maçã', 'morango']
print(frutas)

Tamanho das listas

In [ ]:
print(len(frutas))

Listas podem ser de diferentes tipos de dados

In [ ]:
frutas = ['banana','maçã','morango','kiwi','goiaba','maracuja']
lista1 = [10, 5, 8]
lista2 = [True, False, True]
lista3 = [frutas, lista1, lista2]

In [ ]:
print(lista3)

Como acessar os itens das listas

In [ ]:
print(lista1[-1])
print(lista1[1:4])
print(lista1[2:])
print(lista1[:3])

Checando se um item existe numa lista

In [ ]:
if 'batata' in frutas: 
  print('Existe uma batata na lista1')
else: 
  print('Não existe uma batata na lista1')

Outros métodos do tipo lista

In [ ]:
print(frutas)

In [ ]:
print(frutas.count('pera'))

In [ ]:
print(frutas.index('maçã'))
print(frutas.index('morango'))

Como alterar itens na lista

In [ ]:
frutas = ['banana','maçã','morango','kiwi','goiaba','maracuja']
frutas[0] = 'pera'
print(frutas)

In [ ]:
frutas[1:4] = ['melancia', 'laranja', 'batata']
print(frutas)

In [ ]:
#Só para facilitar o endimento
lista = frutas[0:3]
lista

Adicionando Itens a lista

In [ ]:
#frutas[6] = 'pera'

In [ ]:
lista.append('maçã')
print(lista)

In [ ]:
lista.insert(3 ,'pera')
print(lista)

Adicionando duas listas

In [ ]:
frutas = ['banana','maçã','pera']
frutas2 = ['abacate','goiava','jaca']

In [ ]:
frutas.extend(frutas2)
print(frutas)

In [ ]:
print(frutas + frutas2)

Remover itens da lista

In [ ]:
frutas.remove('jaca')
print(frutas)

In [ ]:
frutas.pop(2)
print(frutas)

In [ ]:
frutas.pop()
#Deleta o último item

In [ ]:
print(frutas)
del frutas[2]
print(frutas)

In [ ]:
del frutas
#print(frutas)

In [ ]:
frutas = ['banana','maçã','pera']

In [ ]:
lista.clear()
print(lista)

# **Tupla**



*   Imutáveis e Ordenadas

In [ ]:
tupla_frutas = ('banana', 'maçã', 'laranja')
print(type(tupla_frutas))

Permitem diferentes tipos de dados

In [ ]:
tupla1 = (1, 'banana', 5.5, False)

In [ ]:
print(len(tupla1))

Converter tupla em lista e vice-versa

In [ ]:
lista_frutas = list(tupla_frutas)
print(type(lista_frutas))

In [ ]:
lista_frutas[1] = 'banana'
tupla_frutas = tuple(lista_frutas)
print(tupla_frutas)

# **Dicionário**

Usados para armazenar valores em palavras-chave

In [ ]:
pessoa1 = {'nome'           : 'Daniel',
           'data_nascimento': '24/06/1981',
           'endereço'       : 'Rua... N° 200, bairro... ',
           'filhos'         : ['João','Marina'],
           'saldo_conta'    : 1500.33,
           'casa_própria'   : False}

In [ ]:
print(pessoa1['filhos'])

Tamanho do dicionário

In [ ]:
print(len(pessoa1))

Acessando valores do dicionário

In [ ]:
print(pessoa1.keys())

In [ ]:
print(pessoa1.values())

In [ ]:
print(pessoa1.items())

Acessar e alterar valores do dicionário

In [ ]:
pessoa1['nome'] = 'Jonas'
print(pessoa1)

In [ ]:
pessoa1['carro'] = False
print(pessoa1)

In [ ]:
pessoa1.pop('carro')
print(pessoa1)

In [ ]:
pessoa1.popitem()
print(pessoa1)

In [ ]:
pessoa1.clear()
print(pessoa1)

In [ ]:
familia = {
  "pessoa1" : {
    "nome" : "Emile",
    "nascimento" : 2004
  },
  "pessoa2" : {
    "nome" : "Fábio",
    "nascimento" : 2001
  },
  "pessoa3" : {
    "nome" : "João",
    "nascimento" : 2000
  }
}
print(familia)

# **Laços em Python**

**Laço for**

Em listas, tuplas ou dicionários

In [ ]:
for x in frutas:
  print(x)

In [ ]:
for x in tupla_frutas:
  print(x)

In [ ]:
for x in pessoa1:
  print(x)

print('\n')

for x in familia:
  print(x)

Iterar sobre strings

In [ ]:
for letra in 'banana':
  print(letra)

Uso do break, pass e continue

In [ ]:
frutas = ['banana', 'kiwi','maçã']

for x in frutas: 
  if x == 'kiwi':
    break
  else:
    print(f'{x} não é um kiwi')

In [ ]:
for x in frutas: 
  if x == 'kiwi':
    continue
  else:
    print(f'{x} não é um kiwi')

In [ ]:
for x in frutas:
  pass

Uso do range()

In [ ]:
for x in range(5):
  print(x)

In [ ]:
for x in range(2,6):
  print(x)

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [ ]:
legumes = ["batata", "cebola", "pepino"]
frutas = ["maçã", "banana", "laranja"]

for x in frutas:
  for y in legumes:
    print(f'A {x} é uma fruta e {y} é um legume \n')

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

# **Funções em Python**

In [ ]:
def gerador_email(nome):
  print(f'Seu email é: {nome[:3]}@discente.ifpe.edu.br')

gerador_email("Jonas")
gerador_email("Laura")
gerador_email("Eduardo")

In [ ]:
def bom_dia(nome1,nome2):
  print(f'Bom dia {nome1} e {nome2}')

In [ ]:
bom_dia(nome1 = 'João', nome2 = "Augusto")

In [ ]:
#bom_dia()

In [ ]:
def bom_dia(nome1 = 'João',nome2 = 'Augusto'):
  print(f'Bom dia {nome1} e {nome2}')

In [ ]:
bom_dia()

In [ ]:
def funcao(fruta):
  for x in fruta:
    print(x)

In [ ]:
funcao(['banana','maçã','goiava'])

In [ ]:
def multiplica(x):
  return 5 * x

print(multiplica(3))
print(multiplica(5))
print(multiplica(9))

**Função lambda**

In [ ]:
soma = lambda a : a + 10
print(soma(5))

In [ ]:
def multiplica(n):
  return lambda a : a * n

multi_3 = multiplica(3)
multi_6 = multiplica(6)

print(multi_3(11))
print(multi_6(11))